
.form-container {
  max-width: 40rem;
  margin: 2rem auto;
}

.form-group input {
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1a292e;
  color: #ecf4f7;
  margin-top: 5px;
  font-family: 'Aeonik';

}

.form-group input::placeholder {
  color: #a7adaf;
  font-family: 'Aeonik';
}

.form-group input:focus {
  border: none;
  outline: none;
}


.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.textarea-input::placeholder {
  color: #a8a8a8;
}
.textarea-input:focus {
  outline: none;
  border: none;
}
.textarea-input {
  font-family: 'Aeonik';
  padding: 15px;
  border: none;
  border-radius: 18px;
  font-size: 20px;
  color:#ecf4f7;
  background: #1a292e;

}

.save-btn {
  background: #00e1db;
  color: #1a292e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Aeonik';

}

@media screen and (max-width: 567px) {
.form-container{
  max-width: 22rem;
}
}

